/* Apply styles to the GridPane */
.grid-pane {
    -fx-background-color: #f4f4f4;
}

/* Apply styles to the Label with ID "headLineLabel" */
#headLineLable {
    -fx-font-family: "fantasy";
    -fx-font-size: 28px;
    -fx-padding: 0 10px 0 0;
    -fx-text-fill: #4A70DB;
    -fx-font-weight: bold;
}

/* Apply styles to the Button with ID "loadFileButton" */
#loadFileButton {
    -fx-background-color: #5CA93B;
    -fx-text-fill: white;
}

/* Apply styles to the Label with ID "currentFileLabel" */
#currentFileLabel {
    -fx-background-color: #D9DEEC;
    -fx-border-color: #575757;
    -fx-font-size: 17px;
    -fx-text-fill: black;
    -fx-border-radius: 4px;
}



/* Apply styles to all buttons with the class "HeaderMenuButtons" */
.HeaderMenuButtons {
    -fx-pref-width: 160px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
    -fx-background-color: #989595;
    -fx-text-fill: white;
}

/* Apply styles to all buttons on hover */
.button:hover {
    -fx-background-color: #2c3e50;
}
#loadFileButton:hover {
    -fx-background-color: #158A19;
}
#fileFailCauseLabel {
    -fx-text-fill: red;
}