.bodyLabels {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.titleLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #4A70DB;
}

ScrollPane {
    -fx-border-color: #696969; /* Border color */
    -fx-border-width: 1px;     /* Border width */
    -fx-border-style: solid;   /* Border style (solid, dashed, etc.) */
    -fx-border-radius: 5px;    /* Border corner radius for a rounded appearance */
    -fx-padding: 5px;         /* Padding inside the border */
    -fx-background-color: #f2f2f2; /* Background color */
    -fx-background-radius: 5px;  /* Background corner radius */
}